%key #{self[:name]}
%dict
  %key Red Component
  %real #{red_component_as_percent(self[:color])}
  %key Blue Component
  %real #{blue_component_as_percent(self[:color])}
  %key Green Component
  %real #{green_component_as_percent(self[:color])}