doctype XML
doctype
plist version="1.0"
  dict
    key name
    string PlasticCodeWrap
    key settings
    array
      dict
        key settings
        dict
          key background
          string ##{@conf}
          key caret
          string #BBBCBD
          key foreground
          string #F8F8F8
          key invisibles
          string #7a8288
          key lineHighlight
          string #202325
          key selection
          string #3C3F42
          key findHighlight
          string #ffe792
          key inactiveSelection
          string #3C3F42
          key gutterForeground
          string #73797b75
          key guide
          string #73797b30
          key activeGuide
          string #73797b60
      dict
        key name
        string Comment
        key scope
        string comment
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #798188
      dict
        key name
        string Python Docstring
        key scope
        string string.quoted.double.block.python
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #798188
      dict
        key name
        string Constant
        key scope
        string constant
        key settings
        dict
          key foreground
          string #b8d977
      dict
        key name
        string Entity
        key scope
        string entity
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #72AACA
      dict
        key name
        string Keyword
        key scope
        string keyword
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #fa9a4b
      dict
        key name
        string Storage
        key scope
        string storage
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #F6F080
      dict
        key name
        string String
        key scope
        string string
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #C4E2F2
      dict
        key name
        string Support
        key scope
        string support
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #72AACA
      dict
        key name
        string Variable
        key scope
        string variable
        key settings
        dict
          key foreground
          string #FB9A4B
      dict
        key name
        string Invalid
        key scope
        string invalid
        key settings
        dict
          key background
          string #D8290DBF
          key foreground
          string #F8F8F8
      dict
        key name
        string Embedded Source
        key scope
        string text source
        key settings
        dict
          key background
          string #B0B3BA14
      dict
        key name
        string Embedded Source (Bright)
        key scope
        string text.html.ruby source
        key settings
        dict
          key background
          string #B1B3BA21
      dict
        key name
        string Entity inherited-class
        key scope
        string entity.other.inherited-class
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #B7D877
      dict
        key name
        string String embedded-source
        key scope
        string string.quoted source
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #B7D877
      dict
        key name
        string String constant
        key scope
        string string constant
        key settings
        dict
          key foreground
          string #B7D877
      dict
        key name
        string String.regexp
        key scope
        string string.regexp
        key settings
        dict
          key foreground
          string #FFB454
      dict
        key name
        string String variable
        key scope
        string string variable
        key settings
        dict
          key foreground
          string #EDEF7D
      dict
        key name
        string Support.function
        key scope
        string support.function
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #FFB454
      dict
        key name
        string Support.constant
        key scope
        string support.constant
        key settings
        dict
          key fontStyle
          string
          key foreground
          string #B7D877
      dict
        key name
        string C/C++ Preprocessor Line
        key scope
        string other.preprocessor.c
        key settings
        dict
          key foreground
          string #8996A8
      dict
        key name
        string C/C++ Preprocessor Directive
        key scope
        string other.preprocessor.c entity
        key settings
        dict
          key foreground
          string #AFC4DB
      dict
        key name
        string Meta.tag.A
        key scope
        string declaration.tag, declaration.tag entity, meta.tag, meta.tag entity
        key settings
        dict
          key foreground
          string #B7D877
      dict
        key name
        string css tag-name
        key scope
        string meta.selector.css entity.name.tag
        key settings
        dict
          key foreground
          string #f5f080
      dict
        key name
        string css#id
        key scope
        string meta.selector.css entity.other.attribute-name.id
        key settings
        dict
          key foreground
          string #FFB454
      dict
        key name
        string css.class
        key scope
        string meta.selector.css entity.other.attribute-name.class
        key settings
        dict
          key foreground
          string #b6d877
      dict
        key name
        string css property-name:
        key scope
        string support.type.property-name.css
        key settings
        dict
          key foreground
          string #72AACA
      dict
        key name
        string css property-value;
        key scope
        string meta.property-group support.constant.property-value.css, meta.property-value support.constant.property-value.css
        key settings
        dict
          key foreground
          string #F6F080
      dict
        key name
        string css @at-rule
        key scope
        string meta.preprocessor.at-rule keyword.control.at-rule
        key settings
        dict
          key foreground
          string #F6AA11
      dict
        key name
        string css additional-constants
        key scope
        string meta.property-value support.constant.named-color.css, meta.property-value constant
        key settings
        dict
          key foreground
          string #EDF080
      dict
        key name
        string css constructor.argument
        key scope
        string meta.constructor.argument.css
        key settings
        dict
          key foreground
          string #EB939A
      dict
        key name
        string diff.header
        key scope
        string meta.diff, meta.diff.header
        key settings
        dict
          key background
          string #0E2231
          key fontStyle
          string
          key foreground
          string #F8F8F8
      dict
        key name
        string diff.deleted
        key scope
        string markup.deleted
        key settings
        dict
          key background
          string #D03620
          key foreground
          string #EB939A
      dict
        key name
        string diff.changed
        key scope
        string markup.changed
        key settings
        dict
          key background
          string #C4B14A
          key foreground
          string #72AACA
      dict
        key name
        string diff.inserted
        key scope
        string markup.inserted
        key settings
        dict
          key background
          string #41A83E
          key foreground
          string #B7D877
      dict
        key name
        string SublimeLinter Annotations
        key scope
        string sublimelinter.outline.notes
        key settings
        dict
          key background
          string #FFFFAA50
      dict
        key name
        string SublimeLinter Outline
        key scope
        string sublimelinter.outline.illegal
        key settings
        dict
          key background
          string #FF4A5250
      dict
        key name
        string SublimeLinter Underline
        key scope
        string sublimelinter.underline.illegal
        key settings
        dict
          key background
          string #FF000050
      dict
        key name
        string SublimeLinter Warning Outline
        key scope
        string sublimelinter.outline.warning
        key settings
        dict
          key background
          string #DF940050
      dict
        key name
        string SublimeLinter Warning Underline
        key scope
        string sublimelinter.underline.warning
        key settings
        dict
          key background
          string #FF000050
      dict
        key name
        string SublimeLinter Violation Outline
        key scope
        string sublimelinter.outline.violation
        key settings
        dict
          key background
          string #ffffff33
      dict
        key name
        string SublimeLinter Violation Underline
        key scope
        string sublimelinter.underline.violation
        key settings
        dict
          key background
          string #FF000050
      dict
        key name
        string html id
        key scope
        string entity.other.attribute-name.id.html
        key settings
        dict
          key foreground
          string #FFB454
      dict
        key name
        string html class
        key scope
        string entity.other.attribute-name.html
        key settings
        dict
          key foreground
          string #EDF080
      dict
        key name
        string html punctuations tags
        key scope
        string punctuation.definition.tag.end, punctuation.definition.tag.begin, punctuation.definition.tag
        key settings
        dict
          key foreground
          string #65A4A4
      dict
        key name
        string CSS @import
        key scope
        string keyword.control.at-rule.import.css
        key settings
        dict
          key foreground
          string #f7f09d
      dict
        key name
        string LESS variables
        key scope
        string variable.other.less
        key settings
        dict
          key foreground
          string #b6d877
      dict
        key name
        string LESS variables
        key scope
        string entity.other.less.mixin
        key settings
        dict
          key foreground
          string #b6d877
      dict
        key name
        string LESS units
        key scope
        string source.css.less keyword.unit.css
        key settings
        dict
          key foreground
          string #EB939A
      dict
        key name
        string Angular
        key scope
        string entity.other.attribute-name.angular.html, source.angular.embedded.html
        key settings
        dict
          key foreground
          string #FF3A83
      dict
        key name
        string HTML Entities
        key scope
        string constant.character.entity.html
        key settings
        dict
          key foreground
          string #F1E94B
      dict
        key name
        string coffee instance var
        key scope
        string variable.other.readwrite.instance.coffee
        key settings
        dict
          key foreground
          string #b6d877
      dict
        key name
        string coffee brace
        key scope
        string meta.brace.round.coffee,meta.brace.square.coffee
        key settings
        dict
          key foreground
          string #F6F080
      dict
        key name
        string coffee embeded
        key scope
        string punctuation.section.embedded.coffee
        key settings
        dict
          key foreground
          string #b6d877
      dict
        key name
        string Coffee vars
        key scope
        string variable.assignment.coffee variable.assignment.coffee
        key settings
        dict
          key foreground
          string #FFFFFF
      dict
        key name
        string Coffee dots
        key scope
        string meta.delimiter.method.period.coffee
        key settings
        dict
          key foreground
          string #FFAA00
      dict
        key name
        string Coffee curleys
        key scope
        string meta.brace.curly.coffee
        key settings
        dict
          key foreground
          string #b6d877
      dict
        key name
        string Doctype/XML Processing
        key scope
        string meta.tag.sgml.doctype.xml, declaration.sgml.html declaration.doctype, declaration.sgml.html declaration.doctype entity, declaration.sgml.html declaration.doctype string, declaration.xml-processing, declaration.xml-processing entity, declaration.xml-processing string, doctype
        key settings
        dict
          key foreground
          string #73817D
      dict
        key name
        string Bracket Default
        key scope
        string brackethighlighter.default
        key settings
        dict
          key foreground
          string #72AACA
    key uuid
    string 13E579BF-40AB-42E2-9EAB-0AD3EDD88532
